<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss(.SSS)} | %-5level | %X{rootex} | | %X{operator} | %M | %X{operobj} | %X{result} | | %msg | %n</pattern>
		</encoder>
	</appender>

	<!-- 注意这里一定要放到springProfile里, 否则在你本机执行的时候还是会去找相应的文件 -->
	<appender name="rollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<FileNamePattern>../logs/tianMaiGPS%d{yyyy-MM-dd}.log
			</FileNamePattern>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss(.SSS)} | %-5level | %X{rootex} | | %X{operator} | %M | %X{operobj} | %X{result} | | %msg |%n</pattern>
		</encoder>

	</appender>

	<root level="info">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="rollingFile" />
	</root>

</configuration>